/* josefin-sans-100 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('./Fonts/josefin-sans-v17-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./Fonts/josefin-sans-v17-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./Fonts/josefin-sans-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./Fonts/josefin-sans-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./Fonts/josefin-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./Fonts/josefin-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./Fonts/josefin-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./Fonts/josefin-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to bottom, rgba(255, 250, 245, 0.9), rgba(0, 0, 0, 0)),
    url(./Images/white-chocolate.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

body {
  width: 95%;
  height: 98%;
  max-width: 900px;
  margin: auto;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

#header {
  width: 70%;
  margin: 4% auto 2% auto;
}

nav {
  display: flex;
  position: relative;
  width: 75%;
  min-width: 300px;
  justify-content: space-around;
  margin: 0 auto;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: rgb(45, 30, 25);
  width: 1fr;
  min-width: 100px;
  margin: 0;
  padding: 7px 0 3px 0;
  border: none;
  background: none;
  transition: 
    color 0.5s,
    transform 0.15s;
}

.active {
  color: rgb(255, 250, 245);
  font-weight: 400;
}

.slider {
  position: absolute;
  z-index: -1;
  width: calc(100% / 3);
  height: 100%;
  transition: all 0.5s;
  display: flex;
}

.core {
  background-color: rgba(45, 30, 25, 0.6);
  border-radius: 9px 9px 0 0;
  flex-grow: 1;
}

.inner-corner {
  z-index: 1;
  width: 9px;
  height: 9px;
  fill: rgba(45, 30, 25, 0.6);
  flex-grow: 0;
  align-self: flex-end;
}

.home {
  left: 0;
}

.menu {
  left: calc(100% / 3);
}

.contact {
  left: calc(100% * 2 / 3);
}

#backdrop {
  width: 100%;
  flex-grow: 1;
  border-radius: 9px;
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(45, 30, 25, 0.6), rgba(0, 0, 0, 0) 85%);
  overflow: hidden;
}

#scroll-box {
  -webkit-mask-image: 
    linear-gradient(
      to bottom, 
      transparent 12px, 
      black 24px, 
      black calc(100% - 24px), 
      transparent calc(100% - 12px)
    );
  mask-image: 
    linear-gradient(
      to bottom, 
      transparent 12px, 
      black 24px, 
      black calc(100% - 24px), 
      transparent calc(100% - 12px)
    );
  padding: 24px;
  overflow: auto;
  position: relative;
}

#home-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#home-copy {
  flex-basis: 50%;
}

h3 {
  color: rgb(55, 210, 215);
  font-size: clamp(28px, 5.6vw, 42px); /* elimnates media queries for font-size! */
  margin: 0 0 6px 0;
  font-weight: 400;
  text-align: center;
}

span {
  display: block;
  text-align: justify;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: rgb(255, 250, 245);
}

.image-wrap {
  height: 100%;
  flex-basis: 50%;
  position: relative;
  filter: sepia(0.1);
  border-radius: 6px;
  overflow: hidden;
}

/* add subtle vignette */
.image-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: inset 0 0 50px rgba(45, 30, 25, 0.6);
}

#slices {
  width: 100%;
  display: block;
}

#contact-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#phone {
  text-align: center;
  flex: 1 1 auto;
  color: rgb(255, 250, 245);
  font-size: 24px;
  font-weight: 300;
  margin: 36px 0;
}

form {
  padding: clamp(24px, 4.8vw, 48px);
  flex: 1 1 auto;
  border-top: 1px solid rgba(255, 250, 245, 0.6);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

textarea {
  resize: none;
}

textarea,
input[type=text] {
  width: 100%;
  padding: 9px;
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 250, 245);
  border: none;
  border-radius: 6px;
  background-color: rgba(45, 30, 25, 0.4);
  transition: background-color 0.15s;
}

textarea::placeholder,
input[type=text]::placeholder {
  color: rgba(255, 250, 245, 0.9);
}

textarea:focus,
input[type=text]:focus {
  outline: none;
  background-color: rgba(45, 30, 25, 0.6);
}

#send-btn {
  padding: 9px 0 6px 0;
  width: 100px;
  font-family: 'Josefin Sans';
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 250, 245);
  border: none;
  border-radius: 6px;
  background-color: rgba(45, 30, 25, 0.6);
  transition: background-color 0.15s;
}

/* Stops sticky hover on mobile */
@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }

  .nav-btn:not(.active):hover {
    transform: translateY(-3px);
  }

  #send-btn:hover {
    color: rgb(45, 30, 25);
    background-color: rgba(255, 250, 245, 0.6);
  }
}

/* Stops tap highlighting on mobile */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* use custom scrollbar except in phone territory */
@media (min-width: 500px) {
  #scroll-box::-webkit-scrollbar {
    width: 12px;
  }
  
  #scroll-box::-webkit-scrollbar-track {
    background: transparent;
  }
  
  #scroll-box::-webkit-scrollbar-button {
    display: block;
    width: 12px;
    height: 12px;
    background: transparent;
  }
  
  #scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(255, 250, 245, 0.5);
    border: 4px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
}

@media (min-width: 750px) {
  #home-content {
    flex-direction: row;
  }

  #contact-content {
    flex-direction: row;
    align-items: center;
  }

  form {
    padding: 48px 48px 48px 60px;
    border-top: none;
    border-left: 1px solid rgba(255, 250, 245, 0.6);
  }

  .image-wrap {
    margin: 24px;
  }
}