html {
  width: 100%;
  height: 100%;
  background: url(cheesecake) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 95%;
  max-width: 900px;
  margin: auto;
}

#content {
  width: 100%;
  height: 100%;
}

#nav {
  display: flex;
  position: relative;
  width: 75%;
  min-width: 300px;
  justify-content: space-around;
  margin: auto;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(255, 247, 224);
  width: 1fr;
  min-width: 100px;
  margin: 0;
  padding: 5px 0;
  border: none;
  background: none;
}

.slider {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  width: calc(100% / 3);
  height: 100%;
  transition: all 0.5s;
}

.home {
  left: 0;
}

.menu {
  left: calc(100% / 3);
}

.contact {
  left: calc(100% * 2 / 3);
}